<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text-html; charset=utf-8" />
    <title>PLTwitter@(if title @list{ &gt; @|title|} "")</title>
    <link rel="stylesheet" type="text/css" href="/style.css" title="default" />
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
   <h1 id="title"><a href="@(our-url home-page)">PLTwitter</a>@(if
title @list{ &gt; @|title|} "")</h1>
   <div id="main">
    
